/*  ==========================================
                Global styles 
============================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
}

/* All containers */
.top-bar,
.cookies,
.hero,
.call-to-action,
.speakers,
.speakers-list,
.tickets,
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1296px;
}

@media (max-width: 1920px) {
}
@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 390px) {
}

/*  ==========================================
                Top bar section 
============================================== */
.top-bar {
  background-color: #323232;
}

.top-bar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #323232;
  max-width: 100% !important;
  gap: min(40px, 3vw);
}

.top-bar span,
.top-bar button {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1.3px;
}

.top-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3c00;
  width: 15%;
  min-width: 160px;
  max-width: 216px;
  height: 56px;
  cursor: pointer;
  flex-shrink: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-bar .container {
    gap: 0px;
  }
  .top-bar span {
    flex: 1;
    text-align: center;
    margin-right: 0;
  }

  .top-bar button {
    flex-shrink: 0;
  }
}

@media (max-width: 480px) {
  .top-bar {
    display: none;
  }
}

/*  ==========================================
                Cookies section 
============================================== */
.cookies {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 10;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
}
.cookies .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 104px;
  max-width: 1296px;
}

.left-cookie {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 16px;
}

.left-cookie h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  padding-bottom: 17px;
}

.left-cookie p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #3c3c3c;
}

.left-cookie a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: underline;
  border: 1px solid #3c3c3c;
}

.right-cookie {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-bottom: 32px;
  gap: 16px;
  padding-right: min(244px, 12vw);
}

.right-cookie button {
  width: 125px;
  height: 42px;
  background-color: #324fbe;
  color: white;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  border: 1px;
  border-radius: 2px;
  text-transform: none;
  flex-shrink: 0;
  flex-wrap: wrap;
}

#transparent-btn {
  background-color: transparent;
  color: #324fbe;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 1600px) {
  .right-cookie {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 32px;
  }
}

@media (max-width: 1024px) {
  .left-cookie {
    width: 60%;
    padding: 10px 16px;
  }
  .right-cookie {
    width: 40%;
    padding: 10px 16px;
    justify-content: space-between;
    gap: 12px;
  }

  .right-cookie button {
    flex: 1;
    width: auto;
    min-width: 0;
    max-width: 125px;
  }
}

@media (max-width: 768px) {
  .cookies .container {
    flex-direction: column;
  }

  .left-cookie {
    width: 100%;
    padding: 16px 16px 8px 16px;
  }

  .right-cookie {
    width: 100%;
    justify-content: flex-end;
    padding: 8px 16px 16px 16px;
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .cookies {
    bottom: 0;
  }
  .cookies .container {
    align-items: stretch;
  }

  .left-cookie h2 {
    padding-bottom: 8px;
  }

  .right-cookie {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .right-cookie button {
    flex: none;
    width: 100%;
    max-width: none;
    height: 42px;
  }
}

/*  ==========================================
                Hero section 
============================================== */
.hero {
  background-image: url("../assets/images/hero-bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1080px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1296px;
  padding-left: 12px;
  padding-right: 32px;
}

h1 {
  font-size: 78px;
  line-height: 80px;
  color: #212529;
}

.hero-row {
  display: flex;
  gap: 40px;
}

.left-colunm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 48px;
  gap: 28px;
}

.left-colunm p:last-of-type {
  padding-bottom: 26px;
}

p {
  color: #212529;
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
}

.hero img {
  height: auto;
  max-width: 348px;
  width: 100%;
  margin-bottom: 32px;
  flex-shrink: 0;
  object-fit: contain;
}

button {
  background-color: #323232;
  color: white;
  width: 220px;
  height: 66px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
}

@media (max-width: 1600px) {
  .hero {
    min-height: 950px;
    padding-left: 32px;
  }

  .hero .container {
    padding-left: 0;
  }
}

@media (max-width: 1440px) {
  .hero {
    min-height: 900px;
  }
}

@media (max-width: 1200px) {
  .hero {
    min-height: 800px;
  }

  .hero h1 {
    font-size: 58px;
    line-height: 60px;
  }

  .hero p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .right-column {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .hero img {
    height: auto;
    max-width: 300px;
    margin-bottom: 24px;
    object-fit: contain;
  }

  .hero button {
    width: 200px;
    height: 64px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
  }
}

@media (max-width: 1024px) {
  .hero {
    min-height: 700px;
    padding-bottom: 120px;
    padding-left: 0px;
  }
  .hero .container {
    padding: 0 24px;
    padding-top: 80px;
  }
  .right-column {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 600px;
    padding-top: 60px;
    padding-bottom: 240px;
  }

  .hero .container {
    padding: 0 24px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 48px;
  }

  .hero p {
    font-size: 19px;
    line-height: 28px;
  }

  .right-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero img {
    max-width: 200px;
  }

  .hero button {
    width: 200px;
    height: 64px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .hero {
    min-height: auto;
    padding-top: 48px;
    padding-bottom: 240px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 38px;
    line-height: 42px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 0;
    order: 2;
  }

  .hero-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    order: 1;
  }

  .right-column {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    order: 1;
  }

  .hero img {
    max-width: 180px;
    margin-bottom: 0;
  }

  .left-colunm {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    order: 2;
  }

  /* Магия display: contents для сквозного позиционирования h1 и картинок */
  .hero-row {
    display: contents;
  }

  .right-column {
    order: 1;
  }
  .hero h1 {
    order: 2;
  }
  .left-colunm {
    order: 3;
  }

  .left-colunm p:last-of-type {
    padding-bottom: 0;
  }

  .hero p {
    font-size: 19px;
    line-height: 28px;
    text-align: left;
  }

  .hero button {
    width: 100%;
    max-width: 216px;
    height: 64px;
    font-size: 18px;
    margin-top: 12px;
  }
}

@media (max-width: 391px) {
  .hero {
    padding: 0 24px;
    padding-bottom: 240px;
    padding-top: 80px;
  }
  .hero .container {
    padding: 0;
  }

  .hero h1 {
    font-size: 34px;
    line-height: 38px;
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .hero p {
    font-size: 19px;
    line-height: 28px;
    text-align: left;
  }

  .hero button {
    width: 100%;
    max-width: 216px;
    height: 64px;
    font-size: 16px;
    margin-top: 8px;
  }
}

/*  ==========================================
                CTA section 
============================================== */
.call-to-action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 80px;
  background-image: url("../assets/images/cta-bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1272px;
  min-height: 196px;
  margin-top: -96px;
  border-radius: 16px;
}

.left-cta {
  display: flex;
  flex-grow: 1;
  padding-right: 20px;
}

.right-cta {
  display: flex;
  flex-shrink: 0;
  order: 1;
}

.left-cta h3 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.right-cta button {
  width: 266px;
  height: 82px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 800;
  border: 1px solid #323232;
  background-color: #323232;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .call-to-action {
    padding-left: 32px;
    padding-right: 32px;
  }

  .call-to-action .container {
    padding: 45px 50px;
  }
}

@media (max-width: 1200px) {
  .left-cta h3 {
    font-size: 38px;
    line-height: 42px;
  }
  /* Делаем кнопку чуть компактнее */
  .right-cta button {
    width: 230px;
    height: 70px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .call-to-action {
    padding: 0 24px;
  }

  .call-to-action .container {
    padding: 40px;
  }

  .left-cta h3 {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  .call-to-action {
    padding: 0 16px;
    margin-top: -36px;
  }

  .call-to-action .container {
    flex-direction: column;
    gap: 24px;
    padding: 48px 32px;
    align-items: center;
  }

  .left-cta {
    padding-right: 0;
    justify-content: center;
  }

  .right-cta {
    justify-content: center;
    width: 100%;
  }

  .left-cta h3 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .call-to-action {
    padding: 0 16px; /* Чуть уменьшаем внешние поля для совсем узких экранов */
    margin-top: -79px;
  }

  .left-cta h3 {
    font-size: 30px;
    line-height: 32px;
  }
  .right-cta button {
    width: 100%; /* На смартфонах кнопка на всю доступную ширину удобнее для пальца */
    max-width: 246px;
    height: 112px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 391px) {
  .call-to-action {
    padding: 0px 24px;
    margin-top: -79px;
  }

  .container {
    flex-direction: column;
    padding: 48px;
    gap: 24px;
  }

  .left-cta,
  .right-cta {
    justify-content: center;
    padding: 0;
  }

  .left-cta h3 {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  .right-cta button {
    width: 246px;
    height: 112px;
    font-size: 20px;
    line-height: 32px;
    padding: 0 50px;
  }
}

/*  ==========================================
                Speakers section 
============================================== */
.speakers {
  background-color: #f5f5f5;
}

.speakers .first-row-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 130px;
  width: 100%;
  max-width: 100vw;
  background-color: white;
}

.first-row-container h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  padding-bottom: 8px;
}

.speakers .second-row-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 52px;
  max-width: 1296px;
  min-height: 1886px;
  padding-bottom: 180px;
}

.speaker-1 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
}

.speaker-2 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}

.speaker-3 {
  grid-area: 1 / 3 / 2 / 4;
  align-self: end;
}

.speaker-4 {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}

.speaker-5 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
}

.speaker-6 {
  grid-area: 2 / 3 / 3 / 4;
  align-self: end;
}

.speakers img {
  object-fit: contain;
  margin-top: 80px;
}

.speaker-name {
  color: #212529;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 900;
  padding-bottom: 19px;
}

.speaker-role,
.speaker-topic {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.speaker-role {
  color: #212529;
}

.speaker-topic {
  color: #ff3c00;
  padding-bottom: 48px;
}

.speakers-list a {
  color: #212529;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 800;
}

.speaker-6 .speaker-name {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}

/*  ==========================================
                Tickets section
============================================== */
.tickets {
  background-color: #fbdb3c;
}

.tickets > .container {
  display: flex;
  flex-direction: column;
  max-width: 1296px;
  padding: 160px 0;
  gap: 80px;
}

.tickets-top-row,
.tickets-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tickets-bottom-row {
  flex-direction: column;
}

.logo-left-column {
  padding: 52px 0px;
}

.logo-left-column h3 {
  color: #212529;
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.logo-right-column img {
  height: auto;
  max-width: 348px;
  width: 100%;
}

.one-ticket-box {
  display: flex;
  width: 100%;
  height: 220px;
  position: relative;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
  padding-bottom: 24px;
}

.info-white-box {
  display: flex;
  flex: 1;
  background-color: white;
}

/* Блоки с волнистыми краями */
.stamp-left,
.stamp-right {
  width: 15px;
  height: 100%;
  z-index: 3;
}

.stamp-left {
  /* transparent 8px — радиус выреза. black 9px — сглаживание пикселей  */
  -webkit-mask-image: radial-gradient(circle at 0% 50%, transparent 8px, black 9px);
  /* круг центрирован по левому краю (0% по горизонтали, 50% по вертикали внутри своего шага) */
  mask-image: radial-gradient(circle at 0% 50%, transparent 8px, black 9px);

  /* (100% означает, что маска растягивается на всю ширину блока) */
  -webkit-mask-size: 100% 26px;
  /* 26px — это высота шага. Чем меньше это число, тем больше кружков поместится по высоте */
  mask-size: 100% 26px;

  /* узор маски дублируется по вертикальной оси Y */
  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;

  /* сдвиг первог кружка на 8px по вертикальной оси Y от верхнего угла */
  mask-position: 0 -8px;
  background-color: white;
}

.stamp-right {
  /* круг центрирован по правому краю (100% по горизонтали, 50% по вертикали внутри своего шага) */
  -webkit-mask-image: radial-gradient(circle at 100% 50%, transparent 8px, black 9px);
  mask-image: radial-gradient(circle at 100% 50%, transparent 8px, black 9px);

  -webkit-mask-size: 100% 26px;
  mask-size: 100% 26px;

  -webkit-mask-repeat: repeat-y;
  mask-repeat: repeat-y;

  mask-position: 0 -8px;
  background-color: #cccccc;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
}

.price p {
  color: #212529;
  font-size: 56px;
  line-height: 90px;
  font-weight: 700;
  padding: 35px 0;
}

/* Vertical line */
.vertical-line {
  /* Цвет линии */
  --line-color: #eaeaea;

  position: relative;
  align-self: center;
  width: 1px;
  height: 68%;
  background-color: var(--line-color);
  flex-shrink: 0;
  z-index: 5;
}

/* Общие стили для кружков на краях */
.vertical-line::before,
.vertical-line::after {
  content: "";
  position: absolute;
  left: 50%;
  /* Центрируем кружки по горизонтали относительно толщины линии (1px) */
  width: 9px;
  /* Диаметр круга */
  height: 9px;
  /* Диаметр круга */
  background-color: var(--line-color);
  /* Применяем тот же цвет */
  border-radius: 50%;
  /* Делаем круглым */
  transform: translateX(-50%);
  /* Точное выравнивание по центру */
}

/* Кружок сверху */
.vertical-line::before {
  top: -5px;
}

/* Кружок снизу */
.vertical-line::after {
  bottom: -5px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 672px;
}

.info p {
  display: flex;
  flex-direction: column;
  padding: 54px 0;
  padding-left: 60px;
}

.booking-type {
  color: #cccccc;
  font-size: 25px;
  line-height: 27px;
  font-weight: 500;
}
.discont-size {
  color: #cccccc;
  font-size: 25px;
  line-height: 41px;
  font-weight: 700;
  padding-bottom: 24px;
}
.booking-date {
  color: #8f73f0;
  opacity: 0.6;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.ticket-cta {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.ticket-cta p {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

/*  ==========================================
                Feature section
============================================== */
.feature {
  background-color: #323232;
}

.feature .container {
  max-width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-top-row,
.feature-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.feature-top-row {
  padding-top: 160px;
  padding-bottom: 40px;
}

.feature h2 {
  font-size: 58px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 37px;
  color: #ffffff;
}

.feature p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 26px;
  /* padding-right: 16px; */
  color: #ffffff;
}

.feature-bottom-row {
  padding-bottom: 176px;
}

.top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 3px;
  flex: 1;
}
.top-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/feature-pic-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 596px;
  height: 698px;
}

.bottom-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/feature-pic-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 714px;
}

.bottom-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.bottom-right p:last-of-type {
  padding-top: 5px;
  padding-bottom: 24px;
}

/* ВРЕМЕННО: скрываем неадаптированные нижние секции, чтобы они не растягивали экран */
.cookies,
/* .call-to-action, */
.speakers,
.tickets,
.feature {
  display: none !important;
}
